<ion-view title="" hide-back-button="true" id="page3" class=" ">	
    <ion-content padding="true" class="has-header">    
	    <div class="list">
			<label class="item item-select " id="projectList-select1">
			    <span class="input-label">Project</span>
			    <select>
			        <option>Barclays - Non-Plastic Dispute</option>
			        <option>Barclays - Direct Debit Dispute</option>
			        <option>Barclays - One Click</option>
			        <option>Barclays - Change Of Address</option>
			        <option>Barclays - Beruement</option>	        
			    </select>
			</label>			
		</div>		
		<div class="list">
			<label class="item item-select " id="sprintPlanning-select1">
			    <span class="input-label">Sprint</span>
			    <select>
			        <option>Sprint 1 - Non-Plastic Dispute</option>
			    </select>
			</label>
		</div>
		<div class="list" ng-controller="PopupCtrl">
			<a style="font-weight:500;font-size:25px;text-align:left;border-radius:5px 5px 5px 5px;" class=" button button-positive button-small button-block button-clear ">User Stories</a>
		    <ion-scroll scrollX="true">
		        <ion-list>
				  <ion-item ng-click="showAlert('As a user I want to enter search criteria', '1. Search criteria must have customer account and date range. <br> 2. Date range options are last 7 days, 60 days and date range within a year.')">				    
				    <h2>As a user I want to enter search criteria</h2>
				    <p>1. Search criteria must have customer account and date range.</p>
				    <p>2. Date range options are last 7 days, 60 days and date range within a year.</p>
				  </ion-item>
				  <ion-item>				    
				    <h2>My Neighbor Totoro</h2>
				    <p>Hayao Miyazaki • 1988</p>				    
				  </ion-item>
				</ion-list>
		    </ion-scroll>		    		
		</div>	
    </ion-content>
</ion-view>