<ion-view title="Sign Up" hide-nav-bar="true" hide-back-button="true" id="page5" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <form id="signUp-form1" class="list ">
            <button id="signUp-button2" style="font-weight:600;font-size:25px;text-align:left;border-radius:5px 5px 5px 5px;" class=" button button-positive  button-block ">Sign up</button>
            <a ui-sref="signIn" id="signUp-button3" style="font-weight:500;font-size:15px;text-align:right;border-radius:5px 5px 5px 5px;" class=" button button-positive button-small button-block button-clear ">Sign In</a>
            <ion-list id="signUp-list1" class=" ">
                <label class="item item-input " id="signUp-input1">
                    <span class="input-label">Employee Id</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input2">
                    <span class="input-label">Email Id</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input3">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input4">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input5">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input6">
                    <span class="input-label">Phone</span>
                    <input type="tel" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input7">
                    <span class="input-label">Date of Birth</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input8">
                    <span class="input-label">Date of Joining IBM</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input9">
                    <span class="input-label">Carrer Start Date</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-select " id="signUp-select1">
                    <span class="input-label">Band</span>
                    <select>
                        <option>6G</option>
                        <option>6A</option>
                        <option>6B</option>
                        <option>7A</option>
                        <option>7B</option>
                        <option>8</option>
                        <option>9</option>
                        <option>Executive</option>
                    </select>
                </label>
            </ion-list>
            <button id="signUp-button1" style="font-weight:600;font-size:20px;border-radius:5px 5px 5px 5px;" class=" button button-positive  button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>