<ion-view title="Tabs Controller" id="page1" class=" ">
    <ion-tabs class="tabs-stable tabs-icon-left" id="tabsController-tabs1">
        <ion-tab title="Project Dashboard" icon="ion-clipboard" href="#/tabs/dashboard" id="tabsController-tab1" class=" ">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>        
        <ion-tab title="User Dashboard" icon="ion-ios-people" href="#/tabs/userDashboard" id="tabsController-tab3" class=" ">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>