<ion-view style="background-color: rgb(26, 139, 171);" title="User DashBoard" hide-back-button="true" id="page4" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding"></ion-content>
    <ion-pane>
    	<ion-content>
    		<div class="spacer " style="width: 300px; height: 10px;"></div>
				<ion-list id="list2" class=" ">
		            <label class="item item-input card" id="user-input10" style="border-radius:10px 10px 10px 10px;width:90%;">
	                    <span class="input-label" style="font-weight:500;font-size:15px;text-align:left;">Project ID</span>
	                    <input type="text" placeholder="">
	                </label>
	                <div class="spacer " style="width: 100%;"></div>
	                <label class="item item-select card" id="select1" style="border-radius:10px 10px 10px 10px;width:90%;">
			            <span class="input-label" style="font-weight:500;font-size:15px;text-align:left;">Project</span>
			            <select style="font-weight:500;font-size:15px;width:90%;">
			            	<option>Select</option>
			                <option>Non-Plastic Dispute</option>
			                <option>Direct Debit Dispute</option>
			                <option>One Click</option>
			                <option>Change of Address</option>
			                <option>Repayment</option>
			                <option>BACKS</option>
			                <option>Breument</option>
			                <option>Account Closure</option>
			            </select>
			        </label>
			        <button class="button button-block button-positive" type="submit" id="submit4">Submit</button>	                
	            </ion-list>
    	</ion-content>
    </ion-pane>
</ion-view>